useDynLib(SASxport, .registration=TRUE)

importFrom(chron, chron, times)
importFrom(utils, packageDescription)
importFrom(Hmisc, label, label.default, "label<-", "label<-.default")

export(
       toSAS,
       lookup.xport,
       read.xport,
       write.xport,
       ## "label",
       ## "label<-",

       makeSASNames,

       "SASformat",
       "SASformat<-",

       "SASiformat",
       "SASiformat<-",

       "SAStype",
       "SAStype<-"
)

S3method(toSAS, numeric)
S3method(toSAS, logical)
S3method(toSAS, character)
S3method(toSAS, factor)
S3method(toSAS, chron)
S3method(toSAS, POSIXt)
S3method(toSAS, Date)
S3method(toSAS, default)

## S3method(label, default)
S3method(SASformat, default)
S3method(SASiformat, default)
S3method(SAStype, default)

## S3method("label<-", default)
S3method("SASformat<-", default)
S3method("SASiformat<-", default)
S3method("SAStype<-", default)

S3method(print, lookup.xport)
S3method(summary, lookup.xport)
S3method(print, summary.lookup.xport)

